/* admin-styles.css */
.wrap {
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.wp-list-table th, .wp-list-table td {
    padding: 10px;
}

.wp-list-table th {
    background-color: #f1f1f1;
}

.wp-list-table td {
    background-color: #fff;
}

input[type="checkbox"] {
    margin-right: 10px;
}

#db_tables {
    margin-top: 20px;
}

select {
    margin-bottom: 20px;
}
